<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome!</h1>

    <h1>Register</h1>
    <form  action="/register" method="post">
         {% csrf_token %}
      <label for="">Name       :<input type="text" name="name"></label>
      <br>
      <br>
      <label for="">Username:  <input type="text" name="username"></label>
      <br>
      <br>
      <label for="">Password:  <input type="password" name="password"></label>
      <br>
      <br>
      <label for="">Confirm PW:<input type="password" name="cw"></label>
      <br>
      <br>
      <input type="submit" value="Register">


    </form>

    <h1>Login</h1>
    <form  action="/login" method="post">
          {% csrf_token %}
      <label for="">Username:<input type="text" name="usern"></label>
      <br>
      <br>
      <label for="">Password:<input type="password" name="pwd"></label>
      <br>
      <br>
      <input type="submit" value="Login">

    </form>



  </body>
</html>
